-# _groupmessage_threads.html.haml
- threads = local_assigns[:threads] || []
- total_count = local_assigns[:total_count] || []

- unless threads.empty?
  %section
    %h3
      = name
      %small
        = link_to message_thread_path(id) do
          = t '.show_message_threads'
          %i.icon.icon-chevron-right

    = render 'message_threads', message_threads: threads, pagination: false, total_count: total_count

    = link_to_top
